[user]
 email = harshavsn@gmail.com
 name = Harsha Sri-Narayana

[core]
  whitespace=fix,-indent-with-non-tab,trailing-space,cr-at-eol
  editor = vim

[alias]
  st = status
  ci = commit
  br = branch
  co = checkout
  df = diff
  unstage = reset HEAD --
  staged = diff --staged
  who = shortlog -s --
  show-stat = show --name-only
  lg1 = log --graph --all --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(bold white)—%an%C(reset)%C(bold yellow)%d%C(reset)' --abbrev-commit --date=relative
  lg2 = log --graph --all --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold  yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(bold white)— %an%C(reset)' --abbrev-commit
  lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit


[color]
  ui = auto
  branch = auto
  diff = auto
  status = auto
  interactive = auto

[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green

[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red bold
  new = green bold

[color "status"]
  added = green
  changed = blue 
  untracked = white bold 

[push]
  default = current

[pull]
  rebase = true

[branch]
  autosetuprebase = always

